<h1>HOME</h1>

<h2><%= @article.title %></h2>
<h2><%= @article.content %></h2>
<p><%= @article.title %></p>
<p><%= @article.content %></p>
<h2><%= @article.title %></h2>
<h2><%= @article.content %></h2>
<%= link_to 'ここ押したらAboutにとぶよ', about_path %>
<% price = 5000*1.01 %>
<P>
    本の値段は<%= price %>です
</P>
